<div class="image-section">
  <img src="/assets/images/bible-1868070_640.jpg" alt="livre" />
</div>

<div class="text-section">
  <h2>the largest community of photo enthusiasts</h2>
  <a href="#" class="description">Aperçu</a>
  <p>PRICE: $36 CAD</p>
  <div class="pay-links">
    <ul>
      <li>
        <a href="#">Ajouter au panier</a>
      </li>
      <li>
        <a href="#">Acheter maintenant</a>
      </li>
    </ul>
  </div>
</div>