<div class="book-style-one">
        <div class="book-container-two">
            <div class="book-description">
                <div class="book-title">
                    <h1>The largest communit of photo enthusiasts</h1>
                </div>
                <div class="book-details">
                    <div>
                        <button class="book-show">Apercu</button>
                        <span class="price">PRICE: $36CAD</span>
                    </div>
                    <div>
                        <button class="add-to-cart">Ajouter au panier</button>
                        <button class="buy-now">Achetez maintenant</button>
                    </div>
                </div>
            </div>
            <div class="book-image">
                <img src="/assets/images/book-cover-2703449_640.png"
                    alt="product">
            </div>
    </div>
</div>