<footer>
  <link rel="stylesheet" href="/css/modules/module-footer.css" />
  <div class="footer-container">
    <div class="footer-links">
      <a href="#">App Mobile</a>
      <a href="#">Communauté lecteurs</a>
      <a href="#">Partenaires</a>
      <img src="logo.png" alt="ReadEasy Logo" class="footer-logo" />
      <a href="#">Contacts</a>
      <a href="#">Livres</a>
      <a href="#">À propos</a>
    </div>

    <hr />
    <div class="footer-text">
      &copy; Photo, Inc. 2025. Projet d’intégration livrables
    </div>
  </div>
</footer>
<script type="module" src="./js/modules/module-footer.js"></script>