<div class="image-section">
  <img src="/assets/images/a-book-3088775_640.jpg" alt="livre" />
</div>

<div class="text-section">
  <h2>more than a book—an experience</h2>
  <a href="#" class="description">Aperçu</a>
  <p>PRICE: $35 CAD</p>
  <div class="pay-links">
    <ul>
      <li>
        <a href="#">Ajouter au panier</a>
      </li>
      <li>
        <a href="#">Acheter maintenant</a>
      </li>
    </ul>
  </div>
</div>