<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>

<header>

  <div class="wrapper">
    <div class="logo"><img src="/assets/logo.png" alt="ReadEasy Logo" /></div>
    <nav>
      <ul>
        <li><a href="#">accueil</a></li>
        <li><a href="#">livres</a></li>
        <li><a href="#">à propos</a></li>
        <li><a href="#">contact</a></li>
        <li><div class="search-container"><button class="search-btn"><i
                class="fas fa-search"
              ></i></button><input
              type="text"
              class="search-input"
              
            /></div>
             <li><button class="login">Connexion</button></li>
        <li><button class="signup">Créer un Compte</button></li>
      </ul>
    </nav>
  </div>
</header>