<footer>
  <div class="footer-wrapper">
    <div class="footer-links">
        <a href="#">App Mobile</a>
        <a href="#">Communauté lecteurs</a>
        <a href="#">Partenaires</a>
        <img src="/assets/logo.png" alt="ReadEasy Logo" class="footer-logo" />
        <a href="#">Contacts</a>
        <a href="#">Livres</a>
        <a href="#">À propos</a>
    </div>

    <hr />
    <div class="footer-text">
      &copy; Photo, Inc. 2025. Projet d’intégration livrables
    </div>
  </div>
</footer>