<footer>
  <div class="footer-wrapper">
    <nav>
        <ul>
            <li>
                <a href="#">App Mobile</a>
            </li>
            <li>
                <a href="#">Communauté lecteurs</a>
            </li>
            <li>
                <a href="#">Partenaires</a>
            </li>
            <li>
                <div class="logo-img"><img src="/assets/logo.png" alt="ReadEasy Logo" /></div>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
            <li>
                <a href="#">Livres</a>
            </li>
            <li>
                <a href="#">À propos</a>
            </li>
        </ul>
    </nav>
  </div>

  <hr />
    <div class="footer-text">
      &copy; Photo, Inc. 2025. Projet d’intégration livrables
    </div>
</footer>