<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>

<header>
   <div class="logo-img"><a href="/"><img src="/assets/logo.png" alt="ReadEasy Logo" /></a></div>
  <nav>
    <ul>
      <li><a href="/">Acceuil</a></li>
      <li><a href="#">Livres</a></li>
      <li><a href="/readeasyapropos">A Propos</a></li>
      <li><a href="#">Contact</a></li>
      <li><div class="search-container"><button class="search-btn"><i class="fas fa-search"></i></button>
      <input type="text" class="search-input" /></div></li>
    </ul>
  </nav>
<div class="auth-buttons">
  <div class="user-status">
    <a href=""><i class="fa-solid fa-basket-shopping fa-xl" style="color: #2fa5ff;"></i></a> 
    <a href=""><i class="fa-regular fa-circle-user fa-xl" style="color: #2fa5ff;"></i></a> 
  </div>
  <button id="loginBtn">Connexion</button>
  <button id="disconnectBtn">deconnexion</button>
  <button id="signupBtn">Créer un Compte</button>
 </div>