<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>

<header>
   <div class="logo-img"><a href="/"><img src="/assets/logo.png" alt="ReadEasy Logo" /></a></div>
  <nav>
    <ul>
      <li><a href="/">Acceuil</a></li>
      <li><a href="/nos-livres">Livres</a></li>
      <li><a href="/readeasyapropos">A Propos</a></li>
      <li><a href="#">Contact</a></li>
      <li><div class="search-container"><button class="search-btn"><i class="fas fa-search"></i></button>
      <input type="text" class="search-input" /></div></li>
    </ul>
  </nav>
   {{#if user}}  
  <a href="/publier-un-livre" class="publier-livre"><i class="fa-regular fa-square-plus"></i>Publier</a>
  {{/if}}
<div class="auth-buttons">
  <div class="user-status">
    <a href=""><i class="fa-solid fa-basket-shopping fa-xl" style="color: #2fa5ff;"></i></a> 
  {{#if user}}   
    <a href=""><i class="fa-regular fa-circle-user fa-xl" style="color: #2fa5ff;"></i></a> 
  {{/if}}
  </div>
    {{#unless user}}
  <a href="/connexion" id="loginBtn">Connexion</button></a>
  {{/unless}}
   {{#if user}}
   <form method="post" action="/api/deconnexion">
          <input type="submit" value="Déconnexion" id="disconnectBtn" />
      </form>
  {{/if}}
   {{#unless user}}
  <a href="/creer-un-compte" id="signupBtn">Créer un Compte</a>
  {{/unless}}
 </div>
</header>