<div class="espace-publicitaire">
    <div class="container-espace-publicitaire">
            <h2>Voulez-vous faire partie de la communauté des lecteurs ?</h2>
            <p>Vous pouvez faire partie de la communauté des lecteurs qualifiés et remporter des lots en espaces et des livres également. Pour cela, il suffit simplement de cliquer sur le bouton ci-dessous.</p>
           <button id="joinButton">Rejoindre maintenant</button>
    </div>
    <div>
        <img src="/assets/images/books-1617327_640.jpg" alt="Espace publicitaire" class="img-espace-publicitaire">
    </div>
</div>