<div class="nos-partenaires">
    <div class="container-nos-partenaires">
    <h2>Nos différents partenaires de partage</h2>
    <p>Nous sommes en partenariat avec différentes entreprises et universités qui nous accordent l'autorisation de
        partager plusieurs livres gratuitement.</p>
    <div class="partners">
        <div class="partner">
            <img src="/assets/laCite.jpg" alt="LA CITO">
        </div>
        <div class="partner">
            <img src="/assets/uOttawa.jpg" alt="uOttawa">
        </div>
    </div>
</div>
</div>