
<div class="book-style-one">
        <div class="book-container">
            <div class="book-description">
                <div class="book-title">
                    <h1>{{livre.titre}}</h1>
                    <p>{{livre.description}}</p>
                </div>
                <div class="book-details">
                    <div>
                        <button class="book-show">Apercu</button>
                        <span class="price">PRICE: {{livre.prix}}CAD</span>
                    </div>
                    {{#if user}}
                    <div>
                        {{#unless livre.est_gratuit}}
                        <button class="add-to-cart">Ajouter au panier</button>
                        <button class="buy-now">Achetez maintenant</button>
                        {{/unless}}
                        {{#if livre.est_gratuit}}
                        <button class="download">Telecharger</buuton>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="book-image">
                <img src="/assets/images/livres/{{livre.url_image}}"
                    alt="Aucune image">
            </div>
    </div>
</div>
