
<div class="book-style-one">
        <div class="book-container">
            <div class="book-description">
                <div class="book-title">
                    <h1>{{livre.titre}}</h1>
                    <p>{{livre.description}}</p>
                </div>
                <div class="book-details">
                    <div>
                        <button class="book-show">Apercu</button>
                        <span class="price">PRICE: {{livre.prix}}CAD</span>
                    </div>
                    <div>
                        {{#unless livre.est_gratuit}}
                         {{#unless user}} <a href="/connexion" ><button class="add-to-cart">Ajouter au panier</button></a>{{/unless}} 
                         {{#if user}}  <button class="buy-now">Achetez maintenant</button> {{/if}}
                         {{#if user}} <button class="add-to-cart">Ajouter au panier</button> {{/if}}
                         {{/unless}}
                        {{#if livre.est_gratuit}}
                        <button class="download">Telecharger</button>
                        {{/if}}
                    </div>
                   
                </div>
            </div>
            <div class="book-image">
                <img src="/assets/images/livres/{{livre.url_image}}"
                    alt="Aucune image">
            </div>
    </div>
</div>
