<div class="form-container">
        <h1>Publier un Livre</h1>
        <form id="publishForm">
            <input type="text" id="titre" name="titre" placeholder="Titre" required>
            <input type="text" id="description" name="description" placeholder="Description" required>
            <input type="text" id="auteur" name="auteur" placeholder="Auteur" required>
            <input type="text" id="isbn" name="isbn" placeholder="ISBN" required>
            <input type="number" id="prix" name="prix" placeholder="Prix" required>
            <input type="checkbox" id="est_gratuit" name="est_gratuit"> Gratuit
            <input type="file" id="url_image" name="url_image" required>
            <input type="file" id="document" name="document" required>
            <button type="submit">Publier</button>
        </form>
    </div>