  <main>
       
        <ol>
           <li>voir le module Barre de navigation: <a href="/moduleheader">CLIQUEZ ICI</a></li> 
           <li>voir le module Pied de page: <a href="/modulefooter">CLIQUEZ ICI</a></li> 
           <li>voir le module caroussel Image: <a href="/modulecaroussel">CLIQUEZ ICI</a></li> 
           <li>voir la page aPropos: <a href="/readeasyapropos">CLIQUEZ ICI</a></li> 
           <li>Voir le style de presentation d'un livre: 01: <a href="/modulepresentationstyleun">CLIQUEZ ICI</a></li> 
           <li>Voir le style de presentation d'un livre: 02<a href="/modulepresentationstyledeux">CLIQUEZ ICI</a></li> 
           <li>voir le module connexion<a href="/moduleconnexion">CLIQUEZ ICI</a></li> 
           <li>voir le module creation de compte utilisateur<a href="/modulecreationdecompte">CLIQUEZ ICI</a></li> 
        </ol>
       
    </main>


<script type="module" src="./js/home.js"></script>