  <main>
       
        <ol>
           <li>voir le module Barre de navigation: <a href="/moduleheader">CLIQUEZ ICI</a></li> 
           <li>voir le module Pied de page: <a href="/modulefooter">CLIQUEZ ICI</a></li> 
           <li>voir le module caroussel P: <a href="/modulecaroussel">CLIQUEZ ICI</a></li> 
        </ol>
       
    </main>


<script type="module" src="./js/home.js"></script>