  {{>modules/caroussel}}
  {{>modules/livre-a-laune}}
  {{>modules/espace-publicitaire}}
  {{>modules/nos-partenaires}}
  
  <div class="container">
    <ol>
        <li>voir le module Barre de navigation: <a href="/moduleheader">CLIQUEZ ICI</a></li> 
        <li>voir le module Pied de page: <a href="/modulefooter">CLIQUEZ ICI</a></li> 
        <li>voir le module caroussel Image: <a href="/modulecaroussel">CLIQUEZ ICI</a></li> 
        <li>voir la page aPropos: <a href="/readeasyapropos">CLIQUEZ ICI</a></li> 
        <li>Voir le style de presentation d'un livre: 01: <a href="/modulepresentationstyleun">CLIQUEZ ICI</a></li> 
        <li>Voir le style de presentation d'un livre: 02<a href="/modulepresentationstyledeux">CLIQUEZ ICI</a></li> 
        <li>voir le module connexion<a href="/moduleconnexion">CLIQUEZ ICI</a></li> 
        <li>voir le module creation de compte utilisateur<a href="/modulecreationdecompte">CLIQUEZ ICI</a></li> 
        <li>voir le module livre a la une<a href="/modulelivrealaune">CLIQUEZ ICI</a></li> 
        <li>voir le module espace publicitaire<a href="/moduleespacepublicitaire">CLIQUEZ ICI</a></li> 
        <li>voir le module nos partenaires<a href="/modulenospartenaires">CLIQUEZ ICI</a></li> 
    </ol>
</div>

