html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-wrapper {
   max-width: 1300px;
   width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #ffffff;
    color: #211f1f;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo-img {
    width: 50px;
    height: auto; 
    overflow: hidden;
  }
  
  .logo-img img {
    width: 50px;
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
  }
  
  header  nav {
    flex: 1;
    padding-left: 1em;
  }
  
   nav ul {
    list-style: none;
    display: flex;
    margin-left: 2.5rem;
    align-items: center;
    padding-top: 8px;
  }
  
  header nav ul li {
    margin-left: 1.5em;
    padding-top: 5px;
  }
  
  header nav ul li a, .search-btn  {
    color: #18A0FB;
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }

  .auth-buttons {
    display: flex;
    align-items: center;
  }
  
  .auth-buttons > #signupBtn {
    background-color: #18A0FB;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .auth-buttons > #loginBtn {
    background-color: #ffffff;
    color: #18A0FB;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
  }


  .auth-buttons > #disconnectBtn {
    background-color: #8462ff;
    color: #ffffff;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
  }

  .auth-buttons > .user-status > a {
    color: #18A0FB;
    font-weight: bold;
    padding: 8px 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
   /** border: 1px solid rgb(128, 128, 128);*/
  }




  .auth-buttons button:hover {
    background-color: #777;
  }
  
  .search-container{
    display: flex;
    align-items: center;
    padding-top: 4px;
  }
  
  .search-container button{
    font-size: 18px;
    border: none;
    background-color: transparent;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .search-container input.search-input {
    padding: 5px;
    border: 1px solid #797878;
    border-radius: 5px;
    display: none;
  }

  /***** CSS for the footer *****/
  
footer {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-wrapper{
  display: flex;
  width: 100%;
}

.footer-wrapper nav {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.footer-wrapper nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}


footer nav a {
  text-decoration: none;
  color: black;
}

footer .footer-wrapper ul li {
  list-style: none;
  text-transform: capitalize;
  font-weight: bolder;
}

footer .footer-wrapper ul li:nth-child(4) {
  padding: 0 30px;
}

.footer-wrapper li a {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-img {
  width: 50px;
  height: auto; 
  overflow: hidden;
}

.logo-img img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
}

hr {
  width: 95%; 
  border: 1px solid rgb(128, 128, 128);
  margin: 15px 0;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.footer-text {
  font-size: 10px;
  color: gray;
  font-size: small;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}


/** Carousel CSS **/
.carousel-caption h5, .carousel-caption p {
  color: #fff;
  font-size: 1.5rem;
 
}

  
  
  