html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
  /**  max-width: 950px;*/
   width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 1rem;
}
