.apropos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apropos:nth-child(1) {
  align-self: flex-start; /* Seul ce bloc sera aligné à la fin */
}

.straight-line {
  width: 75%;
  border: 1px solid #9e9d9d;
  align-self: center;
  transform: rotate(90deg);
}

.left,
.right {
  width: 200rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  line-height: 1;
}

.logo img {
  width: 85px;
}

.apropos-title {
  font-size: 1.8em;
  max-width: 30%;
}

.left h2 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 700;
}

p {
  font-size: 14px;
  color: #555;
}

.contact {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.8;
}

.right .img-apropos {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.img-apropos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


@media (max-width: 768px) {

    .apropos .container {
      flex-direction: column;
      align-items: center;
    }

    .apropos {
      display: flex;
      width: unset; 
    }
  
   .apropos .left, .right {
      width: auto;
    }
  
   .apropos .apropos-title {
      font-size: 1.4em;
      flex: 2;
      width: 100%;
    }
  
   .apropos .left h2 {
      font-size: 14px;
      margin-top: 20px;
      font-weight: 600;
    }

   .apropos .straight-line {
        display: none;
    }
  
  }
