.profile-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: top;
    font-family: Arial, sans-serif;
    margin: 0 auto; 
    padding: 8px 0 ;
}

.profile-container-right {
    padding: 0 5px;
    display: flex;
    flex: 1;
}

.sidebar {
    width: 25%;
    min-width: 400px;
    background-color: #007bff;
    color: white;
    padding: 20px;
}

.sidebar .welcome-message {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar .menu { 
    list-style: none;
    padding: 0;
}

.sidebar .menu li {
    margin: 10px 0;
    cursor: pointer;
}

.profile-content {
    width: 80%;
    padding: 20px; 
}

.active {
    background-color: #0056b3;
    color: white;
    width: 75%;
    padding: 20px;
}

.profile-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.save-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #0056b3;
}

.notification-banner {
    width: 100%;
    background-color: #ffcc00;
    color: #333;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #e6b800;
}

.mes-publications .section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mes-publications .publication-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 15px;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.mes-publications .publication-item img {
    width: 80%;
    height: auto;
    border-radius: 5px;
}

.mes-publications .publication-item h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.mes-publications .publication-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.mes-publications .publication-item div:last-child {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.mes-publications .publication-item a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

.mes-publications .publication-item a:hover {
    color: #0056b3;
}

.mes-publications {
    max-height: 400px; 
    overflow-y: auto; 
}

.mes-publications::-webkit-scrollbar {
    width: 8px;
}

.mes-publications::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
}

.mes-publications::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {

    .mes-publications {
        max-height: 400px; 
        overflow-y: auto; 
    }

    .mes-publications .publication-item {
        display: grid;
        grid-template-columns: 80px 1fr;
        gap: 8px;
        align-items: center;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .mes-publications .publication-item div:last-child {
        justify-content: center;
    }

    .profile-container {
        flex-direction: column-reverse;
        align-items: center;  
        width: 100%;
        padding: 0 10px;
    }

    .sidebar {
        width: 300px;
        background-color: #007bff;
        color: white;
        padding: 20px;
        margin: 0 auto;
    }

    
    .sidebar > .menu {
        width: 250px;
        background-color: #007bff;
        color: white;
        padding: 20px;
        margin: 0 auto;
    }

    .profile-content {
        width: 100%;
        padding: 20px 0; 
    }
}

@media (max-width: 480px) {
    .mes-publications {
        max-height: 400px; 
        overflow-y: auto; 
        margin: 10px;
    }

    .profile-container {
        flex-direction: column-reverse;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        -webkit-box-align: center;
        align-items: center;  
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
        justify-content: center;
    }
    .profile-container-right {
        padding: 0 5px;
        display: flex;
        flex: 1;
    }
    .profile-container-right {
        width: 100%;
        padding: 0 10px;
    }
    .sidebar {
        display: flex;
        width: 200px;
        padding: 10px;
        border: 1px solid red;
        margin: 0 auto;
    }
    .sidebar .welcome-message {
       display: none;
    }

    .sidebar .menu{
        font-size: 12px;
    }

    .profile-content {
        width: 100%;
        padding: 10px; 
    }
}


/* Sessions Param Admin */

/* Style pour le tableau dans la section param-admin */
.param-admin .user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.param-admin .user-table th, 
.param-admin .user-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.param-admin .user-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.param-admin .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.param-admin .user-table tr:hover {
    background-color: #e6f7ff;
    cursor: pointer;
}

.param-admin .user-table td a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.param-admin .user-table td a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Styles pour rendre le tableau responsive */
@media (max-width: 768px) {
    .param-admin .user-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        border: none;
    }

    .param-admin .user-table thead {
        display: none;
    }

    .param-admin .user-table tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid #ddd; 
        border-radius: 8px;
        padding: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .param-admin .user-table td {
        display: flex;
        justify-content: space-between;
        padding: 8px 10px;
        border: none;
        font-size: 14px;
    }

    .param-admin .user-table td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #555;
        flex: 1;
        text-align: left;
    }

    .param-admin .user-table td a {
        color: #007bff;
        text-decoration: none;
    }

    .param-admin .user-table td a:hover {
        color: #0056b3;
    }

    .param-admin tr:first-child {
        display: none;
    }

    .param-admin .user-table th {
       display: none;
    }
}

/* Rendre la div table-responsive scrollable */
.table-responsive {
    max-height: 400px; /* Hauteur maximale pour activer le défilement */
    overflow-y: auto; /* Activer le défilement vertical */
}

/* Style pour les barres de défilement (optionnel) */
.table-responsive::-webkit-scrollbar {
    width: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}

/* Rendre la section param-admin scrollable */
.param-admin {
    max-height: 400px; /* Hauteur maximale pour activer le défilement */
    overflow-y: auto; /* Activer le défilement vertical */
}

/* Style pour les barres de défilement (optionnel) */
.param-admin::-webkit-scrollbar {
    width: 8px;
}

.param-admin::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
}

.param-admin::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}

/* Style pour le tableau */
.statistiques-table {
    width: 100%;
    border-collapse: collapse; /* Supprimer les espaces entre les bordures */
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 8px;
    overflow: hidden;
}

/* Style pour les en-têtes */
.statistiques-table th {
    background-color: #007bff; /* Couleur principale */
    color: white; /* Texte blanc */
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 15px;
    border-bottom: 2px solid #0056b3; /* Bordure inférieure */
}

/* Style pour les lignes */
.statistiques-table tr {
    border-bottom: 1px solid #ddd; /* Bordure entre les lignes */
}

/* Style pour les cellules */
.statistiques-table td {
    padding: 12px 15px;
    color: #333; /* Couleur du texte */
}

/* Style pour les lignes alternées */
.statistiques-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Couleur de fond alternée */
}

/* Effet au survol */
.statistiques-table tr:hover {
    background-color: #e6f7ff; /* Couleur de survol */
    cursor: pointer;
}

@media (max-width: 768px) {

   

    .statistiques-table {
        display: block; /* Afficher le tableau comme un bloc */
        overflow-x: auto; /* Activer le défilement horizontal */
        white-space: nowrap; /* Empêcher le retour à la ligne */
        border: none; /* Supprimer la bordure */
    }

    .statistiques-table thead {
        display: none; /* Masquer l'en-tête sur mobile */
    }

    .statistiques-table tr {
        display: block; /* Afficher chaque ligne comme un bloc */
        margin-bottom: 15px; /* Espacement entre les lignes */
        border: 1px solid #ddd; /* Bordure autour de chaque ligne */
        border-radius: 8px; /* Coins arrondis */
        padding: 10px; /* Espacement interne */
        background-color: #f9f9f9; /* Couleur de fond */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    }

    .statistiques-table td {
        display: flex; /* Afficher les cellules comme des flexbox */
        justify-content: space-between; /* Espacement entre les éléments */
        padding: 8px 10px; /* Espacement interne */
        border: none; /* Supprimer la bordure des cellules */
        font-size: 14px; /* Taille de police réduite pour mobile */
    }

    .statistiques-table td::before {
        content: attr(data-label); /* Afficher l'étiquette de la cellule avant le contenu */
        font-weight: bold; /* Mettre en gras l'étiquette */
        color: #555; /* Couleur de l'étiquette */
        flex: 1; /* Prendre tout l'espace disponible */
        text-align: left; /* Alignement à gauche de l'étiquette */
    }
    .statistiques-table tr:first-child {
        display: none; /* Masquer la première ligne (en-tête) sur mobile */
    }
}

@media (max-width: 480px) {
    .profile-container {
        flex-direction: column-reverse;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        -webkit-box-align: center;
        align-items: center;  
        width: 100%;
        padding: 0 10px;
       margin-left: 15px;
        justify-content: center;
    }

    .statistiques {
        margin: 10px;
        padding: 5px;
        width: 100%;
    }

    .statistiques-table {
        display: block; /* Afficher le tableau comme un bloc */
        overflow-x: auto; /* Activer le défilement horizontal */
        white-space: wrap; /* Empêcher le retour à la ligne */
        border: none; /* Supprimer la bordure */
    }

    .mots-de-passe {
        margin: 10px;
        padding: 5px;
        width: 100%;
    }

    .param-admin {
        max-height: 400px; /* Hauteur maximale pour activer le défilement */
        overflow-y: auto; /* Activer le défilement vertical */
        margin: 10px;
        padding: 5px;
        width: 100%;
    }
}
