<div class="apropos">
   <div class="logo">
      <img src="/assets/logo.png" alt="ReadEasy Logo">
      <h1 class="apropos-title">La lecture est un chemin qui vous ouvres les portes.</h1>
   </div>

   <div class="container"> 
      <div class="left">
         <h2>Qui sommes nous ?</h2>
         <p> Nous sommes une plateforme de bibliothèque en ligne offrant un accès à distance à des ouvrages académiques, littéraires et professionnels. Destinée aux étudiants, chercheurs, enseignants et lecteurs, 
        notre mission est de faciliter l'accès aux ressources documentaires à l'ère numérique.</p>

         <h2>Notre objectif</h2>
         <p>Nos objectifs sont de créer une bibliothèque en ligne de qualité avec un catalogue complet et des outils de recherche efficaces, tout en assurant la 
        sécurité des données et en favorisant l'adoption de la technologie par nos utilisateurs.</p>
      </div>
         <hr class="straight-line" />
      <div class="right">
         <div class="img-apropos"><img src="/assets/images/books-5211309_640.jpg" alt="Livres"></div>
         <div class="contact">
            <p><strong>Adresse:</strong> Cummong Avenue 7896, Québec</p>
            <p><strong>BP:</strong> K1K899</p>
            <p><strong>Email:</strong> lifefacile@readeasy.com</p>
            <p><strong>Téléphone:</strong> +1 899-555-700</p>
         </div>
      </div>
   </div>
</div>