<div class="livres">
    <div class="livres-container">
        <div class="livres-title">
            <h1>Nos Livres</h1>
        </div>
        <div class="livres-list">
            {{#each livres}}
                {{>modules/module-presentation-livre-premiere}}
            {{/each}}
        </div>
    </div>

</div>