.footer-wrapper {
  width: 100%;
  max-width: none; /* Assure que le footer prend toute la largeur */
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(240, 7, 7);
}

.footer-links {
  width: 100%;
  padding: 0 40px; /* Ajoute un peu d'espace aux extrémités */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: bold;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-logo {
  height: 80px; /* Réduit la taille du logo */
  max-width: 150px; /* Empêche qu'il prenne trop de place */
}

hr {
  width: 100%; /* Assure que la ligne touche bien les bords */
  margin: 15px 0;
  border: 0;
  border-top: 1px solid black;
}

.footer-text {
  font-size: 10px;
  color: gray;
  text-align: center;
}
