.wrapper {
  text-align: center;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  font-weight: bold;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-logo {
  height: 40px;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid black;
}

.footer-text {
  font-size: 14px;
  color: gray;
}
