.image-section {
  float: right;
  margin-right: 30px;
}

.text-section h2 {
  text-transform: capitalize;
  margin-top: 10rem;
  margin-bottom: 30px;
}

.text-section p {
  margin-left: 27rem;
  width: 10rem;
}

.description {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #0d75f8;
  padding: 10px 30px;
  border-radius: 5px;
}

.description:hover {
  background-color: #0d75f8;
  color: white;
}

.pay-links {
  margin-top: 2rem;
}

.pay-links li {
  list-style: none;
}

.pay-links a {
  text-decoration: none;
  color: #00bbee;
  border: solid #00bbee;
  display: inline-block;
  padding: 10px 20px;
  width: 190px;
  border-radius: 5px;
  margin-left: 20rem;
  margin-bottom: 1.3rem;
}

.pay-links li:first-child a {
  background-color: black;
  color: white;
  border-color: black;
}
